<div class="container">
    <form name="registerform" id="registerform" class="member">
        <div class="row col-md-12 info">

            <div class="col-md-4 col-xs-12">
                <h3>用户: Nick Tai Man Chan</h3>
            </div>
            <div class="col-md-4 col-xs-6">
                <h3>會員等級: Sliver</h3>
            </div>
            <div class="col-md-4 col-xs-6">
                <h3>總積分: 0</h3>
                <span>*12月31日或之前</span>
            </div>

        </div>
    </form>
    <div class="row col-md-12 product_group">
        <h3><b>禮品專區</b></h3>
    </div>
    <div class="row col-md-12 col-xs-12 product_title">
        <a class="btn btn-category" href="#">shop</a>
    </div>
    <div class="row col-md-12 product_list">
        <!-- <div class="row col-md-12 col-xs-12 page_group">
              <div class="pages_ul2">

                    <a href="#">
                    <span class="active" style="font-size:17px;font-weight:bolder">1</span></a>
                    <a href="#"><span>2</span></a>
                    <a href="#"><span>3</span></a>
                    <a href="#"><img src="images/shuzi_up.png" width="21" height="21" border="0" alt=">"></a>
              </div>
        </div> -->


        <div class="col-md-4 col-xs-6 product">
            <div class="product_img">
                <img  src="~/UIContent/images/icon_1.png" alt=""><br>
            </div>
            <span class="mess">50% off Coupon</span><br>
            所需積分 ：<b>10</b>分<br>
            <button class="d">立即換購</button>

        </div>
        <div class="col-md-4 col-xs-6 product">
            <div class="product_img">
                <img src="~/UIContent/images/icon_2.png">
            </div>
            <span class="mess">50% off Coupon</span><br>
            所需積分 ：<b>10</b>分<br>
            <button class="d">立即換購</button>
        </div>
        <div class="col-md-4 col-xs-6 product">
            <div class="product_img">
                <img src="~/UIContent/images/icon_3.png" alt="">
            </div>
            <span class="mess">50% off Coupon</span><br>
            所需積分 ：<b>10</b>分<br>
            <button class="d">立即換購</button>
        </div>
        <div class="col-md-4 col-xs-6 product">
            <div class="product_img">
                <img src="~/UIContent/images/icon_4.png" alt="">
            </div>
            <span class="mess">50% off Coupon</span><br>
            所需積分 ：<b>10</b>分<br>
            <button class="d">立即換購</button>
        </div>
        <div class="col-md-4 col-xs-6 product">
            <div class="product_img">
                <img src="~/UIContent/images/icon_5.png" alt="">
            </div>
            <span class="mess">50% off Coupon</span><br>
            所需積分 ：<b>10</b>分<br>
            <button class="d">立即換購</button>
        </div>
        <div class="col-md-4 col-xs-6 product">
            <div class="product_img">
                <img src="~/UIContent/images/icon_6.png" alt="">
            </div>
            <span class="mess">50% off Coupon</span><br>
            所需積分 ：<b>10</b>分<br>
            <button class="d">立即換購</button>
        </div>


    </div>


</div>
