
<div class="container">
    <form name="registerform" id="registerform" class="member">
        <div class="row col-md-12 info">

            <div class="col-md-4 col-xs-12">
                <h3>用户: Nick Tai Man Chan</h3>
            </div>
            <div class="col-md-4 col-xs-6">
                <h3>會員等級: Sliver</h3>
            </div>
            <div class="col-md-4 col-xs-6">
                <h3>總積分: 0</h3>
                <span>*12月31日或之前</span>
            </div>

        </div>
    </form>
    <div class="row col-md-12 col-sx-12 record_title">
        <h3><b>換領記錄</b></h3>
    </div>
    <div class="row col-md-12 col-sx-12">
        <div class="pages_ul2">

            <a href="#">
                <span class="active">1</span>
            </a>
            <a href="#"><span>2</span></a>
            <a href="#"><span>3</span></a>
            <a href="#"><img src="~/UIContent/images/shuzi_up.png" alt=">"></a>
        </div>

    </div>
    <div class="row col-md-12 col-xs-12 record_list">
        <div class="row col-md-12 record">

            <div class="row col-md-2 col-xs-6">
                <b>產品類別</b>
            </div>
            <div class="row col-md-6 col-xs-7">
                <b> 產品型號</b>
            </div>
            <div class="row col-md-2 col-xs-5">
                <b> 保用期至</b>
            </div>

            <div class="row col-md-2 col-xs-3">

            </div>

        </div>
        <div class="row col-md-12 record">

            <div class="row col-md-2 col-xs-6">
                電視
            </div>
            <div class="row col-md-6 col-xs-7">
                LTG25-85HG
            </div>
            <div class="row col-md-2 col-xs-5">
                2016-02-22
            </div>

            <div class="row col-md-2 col-xs-3">
                <a href="#">續保</a>
            </div>

        </div>
        <div class="row col-md-12 record">

            <div class="row col-md-2 col-xs-6">
                電視
            </div>
            <div class="row col-md-6 col-xs-7">
                LTG25-85HG
            </div>
            <div class="row col-md-2 col-xs-5">
                2016-02-22
            </div>

            <div class="row col-md-2 col-xs-3">
                <a href="#">續保</a>
            </div>

        </div>
        <div class="row col-md-12 record">

            <div class="row col-md-2 col-xs-6">
                電視
            </div>
            <div class="row col-md-6 col-xs-7">
                LTG25-85HG
            </div>
            <div class="row col-md-2 col-xs-5">
                2016-02-22
            </div>

            <div class="row col-md-2 col-xs-3">
                <a href="#">續保</a>
            </div>

        </div>
        <div class="row col-md-12 record">

            <div class="row col-md-2 col-xs-6">
                電視
            </div>
            <div class="row col-md-6 col-xs-7">
                LTG25-85HG
            </div>
            <div class="row col-md-2 col-xs-5">
                2016-02-22
            </div>

            <div class="row col-md-2 col-xs-3">
                <a href="#">續保</a>
            </div>

        </div>





    </div>

</div>
