
<div class="container">
    <form name="registerform" id="registerform" class="member">
        <div class="row col-md-12 info">

            <div class="col-md-4 col-xs-12">
                <h3>用户: Nick Tai Man Chan</h3>
            </div>
            <div class="col-md-4 col-xs-6">
                <h3>會員等級: Sliver</h3>
            </div>
            <div class="col-md-4 col-xs-6">
                <h3>總積分: 0</h3>
                <span>*12月31日或之前</span>
            </div>

        </div>
    </form>
    <div class="row col-md-12 col-sx-12 record_title">
        <h3><b>積分紀錄</b></h3>
    </div>
    <div class="row col-md-12 col-sx-12">
        <div class="pages_ul2">

            <a href="#">
                <span class="active">1</span>
            </a>
            <a href="#"><span>2</span></a>
            <a href="#"><span>3</span></a>
            <a href="#"><img src="~/UIContent/images/shuzi_up.png" alt=">"></a>
        </div>

    </div>
    <div class="row col-md-12 col-xs-12 record_list">

        <div class="row col-md-12 record">
            <div class="row col-md-2 col-xs-6">
                <img src="~/UIContent/images/shop_icon.png" alt="Thumbnail">
            </div>
            <div class="row col-md-2 col-xs-6">
                2016-06-23 12:04
            </div>
            <div class="row col-md-6 col-xs-9">
                額外獎賞: 新春羊年優惠
            </div>
            <div class="row col-md-2 col-xs-3">
                <span class="green"> + 28分</span>
            </div>

        </div>
        <div class="row col-md-12 record">
            <div class="row col-md-2 col-xs-6">
                <img  src="~/UIContent/images/shop_icon.png" alt="Thumbnail">
            </div>
            <div class="row col-md-2 col-xs-6">
                2016-06-23 12:04
            </div>
            <div class="row col-md-6 col-xs-9">
                扣除獎賞: 新春羊年優惠
            </div>
            <div class="row col-md-2 col-xs-3">
                <span class="red"> - 20分</span>
            </div>

        </div>
        <div class="row col-md-12 record">
            <div class="row col-md-2 col-xs-6">
                <img src="~/UIContent/images/shop_icon.png" alt="Thumbnail">
            </div>
            <div class="row col-md-2 col-xs-6">
                2016-06-23 12:04
            </div>
            <div class="row col-md-6 col-xs-9">
                額外獎賞: 新春羊年優惠
            </div>
            <div class="row col-md-2 col-xs-3">
                <span class="green"> + 28分</span>
            </div>

        </div>
        <div class="row col-md-12 record">
            <div class="row col-md-2 col-xs-6">
                <img src="~/UIContent/images/shop_icon.png" alt="Thumbnail">
            </div>
            <div class="row col-md-2 col-xs-6">
                2016-06-23 12:04
            </div>
            <div class="row col-md-6 col-xs-9">
                額外獎賞: 新春羊年優惠
            </div>
            <div class="row col-md-2 col-xs-3">
                <span class="green"> + 28分</span>
            </div>

        </div>




    </div>

</div>
