.pl_header {
    text-align: center;
    color: red;
	background-color: lightblue;
	
}

.pl_content {
    text-align: center;
    color: blue;
	background-color: gray;
	height: 500px;
}

.pl_content2 {
    text-align: center;
    color: blue;
	background-color: #ffc2b3;
	height: 500px;
}

.pl_content_box {
    text-align: center;
    color: blue;
	background-color: green;
	height: 100px;
	border-style: dotted;

}

.pl_footer {
    text-align: center;
    color: red;
	background-color: #ffffb3;

}
