@{
    ViewBag.Title = "TrueLoyalty® Club :: 更改個人資料";
}
<section id="message">
<div class="container">
    <div>
     <h3>成功更改個人資料</h3>

     <p>您已完成更改您的個人資料。</p>
     <p><a href="@Url.Content("../Club/Profile")" title="返回" class="btn btn-primary btn-lg">返回</a></p>
    </div>
    <div>
      <h3>會員有何優惠</h3>
      所有LOYALTY產品內都隱藏着一組「產品密碼」，會員可於此網站登記密碼以賺取積分，累積滿一定分數，即可換取禮品，包括全線LOYALTY產品或其他禮品。LOYALTY，您的「產品密碼」，為您打開「獎賞之門」。 
    </div>
</div>
</section>
