@media (max-width: 767px){

.navbar-toggle{
	margin-top: 35px;
    margin-right: 30px;
}
.navbar_top .navbar-collapse .navbar-right{
    margin-right:0px;
}
.footer ul li{
    float:none;
    color: #ffffff;
    margin-left: 0px;
}
.footer ul li:last-child{
    margin-left: 0px;
}
.member input[type="text"],
.member input[type="password"]{
    width:100%;
}
.member .input1,.member .input2{
    width:100%;
}
.product_title{
    margin-top: 0px;
}
#example .modal-dialog{
    margin-top: 30%;
}

}


